{{define "block"}}
{{ template "header" . }}
<div>

    <H4>Block Topo height (unique): {{.block.TopoHeight}}  Block height: ({{.block.Height}})</H4>
    <H4>Block hash: {{.block.Hash}}</H4>

{{range $i, $a := .block.Tips}}
  <H5>Previous blocks: <a href="/block/{{$a}}">{{$a}}</a></H5>
{{end}}

<!--    
    <H5>Next block: <a href="/block/a8ade20d5cad5e23105cfc25687beb2498844a984b1450330c67705b6c720596">a8ade20d5cad5e23105cfc25687beb2498844a984b1450330c67705b6c720596</a></H5>
    -->
    <table class="center">
        <tr>
            <td>Timestamp [UCT] (epoch millisec):</td><td>{{.block.Block_time}} ({{.block.Epoch}})</td>
            <td>Age [h:m:s.ms]:</td><td>{{.block.Age}}</td>
            <td>Δ [h:m:s.ms]:</td><td></td>
        </tr>
        <tr>
            <td>Major.minor version:</td><td>{{.block.Major_Version}}.{{.block.Minor_Version}}</td>
            <td>Block reward:</td><td>{{.block.Reward}}</td>
            <td>Block size [kB]:</td><td>{{.block.Size}}</td>
        </tr>
        <tr>
            <td>Miniblocks:</td><td>{{len .block.Block.MiniBlocks}}</td>
            <td>Total fees:</td><td>{{.block.Fees}}</td>
            <td>No of txs:</td><td>{{.block.Tx_Count}}</td>
        </tr>
    </table>

    <h3>Miner reward for this block</h3>
    <table class="center">
        <tr>
            <td>Miner Address</td>
            <td>outputs</td>
            <td>size [kB]</td>
            <td>version</td>
        </tr>
            <tr>
                <td>{{index .block.Mtx.OutAddress 0}}</a>
                <td>{{.block.Mtx.Amount}}</td>
                <td>{{.block.Mtx.Size}}</td>
                <td>{{.block.Mtx.Version}}</td>
            </tr>

    </table>

    <h3>Transactions ({{.block.Tx_Count}})</h3>
        <table class="center" style="width:80%">
            <tr>
                <td>hash</td>
                <td>type</td>
                <td>fee</td>
                <td>ring size</td>
                <td>version</td>
                <td>size [kB]</td>
            </tr>
            {{range .block.Txs}}
                <tr>
                   
                    {{if .Skipped }}<td><a href="/tx/{{.Hash}}"><font color="indianred">{{.Hash}}</font>  </a></td>
                    {{else}}
                    <td><a href="/tx/{{.Hash}}">{{.Hash}}</a></td>
                    {{end}}
                    <td>{{.TransactionType}}</td>
                    <td>{{.Fee}}</td>
                    <td>{{.Ring_size}}</td>             
                    <td>{{.Version}}</td>
                    <td>{{.Size}}</td>
                </tr>
                {{end}}
        </table>

</div>

{{ template "footer" . }} 
{{end}}
