{{define "footer"}}
<div class="center">
    <h6 style="margin-top:10px">
        <a href="https://github.com/deroproject/">DERO explorer source code</a>
        | explorer version (api): under development (1.0)
        | dero version: golang pre-alpha
        | Copyright 2017-2022  Dero Project
    </h6>
</div>
</body>
</html>
{{end}}
