{{ define "paging"}}
<div class="pagination">
    <a href="/" class="pagination-btn">Last</a>
    
    {{if lt .next_page .current_page}}
    <span class="pagination-btn disabled">← Next</span>
    {{else}}
    <a href="/page/{{.next_page}}" class="pagination-btn">← Next</a>
    {{end}}
    
    <span class="pagination-current">
        Page {{.current_page}} of {{.total_page}}
    </span>
    
    {{if gt .previous_page 0}}
    <a href="/page/{{.previous_page}}" class="pagination-btn">Previous →</a>
    {{else}}
    <span class="pagination-btn disabled">Previous →</span>
    {{end}}
    
    <a href="/page/1" class="pagination-btn">First</a>
</div>
{{end}}
